:root {
    --main-bg-color: rgb(24, 24, 26);
    --main-font: "Roboto", sans-serif;
    --main-text-color: rgb(214, 211, 209);
    --heading-font: "Montserrat", sans-serif;
    --heading-text-color: rgb(250, 204, 21);
    --content-max-width: 1024px;
}

html {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

body {
    font-family: var(--main-font), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font), sans-serif;
    color: var(--heading-text-color)
}

.site-wrapper {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    width: 100%;

    /* Responsive styles */
    @media (min-width: 1024px) {
        /* Tailwind lg */
        max-width: 1024px;
    }
}