:root {
    --heading-font: "Montserrat", sans-serif;
    --main-font: "Roboto", sans-serif;
    --main-blue: rgb(89, 203, 230);
    --main-purple: rgb(90, 118, 186);
    --main-bg-color: rgb(24, 24, 26);
    --text-cream: rgb(214, 211, 209);
    --text-white: white;
    --content-max-width: 1024px;
}

html {
    background-color: var(--main-bg-color);
    color: var(--text-cream);
    /* overflow-y: scroll; always show scrollbar */
}

::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background: rgb(89, 203, 230); /* Color of the scroll thumb */
    border-radius:  10px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); /* Color of the track */
}


body {
    font-family: var(--main-font), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font), sans-serif;
    color: var(--text-white);
}

p {
    line-height: 1.65;
    padding-bottom: 1em;
    text-align: justify;
}