:root {
    --heading-font: "Montserrat", sans-serif;
    --main-font: "Roboto", sans-serif;
    --main-blue: rgb(89, 203, 230);
    --main-purple: rgb(90, 118, 186);
    --main-bg-color: rgb(24, 24, 26);
    --text-cream: rgb(214, 211, 209);
    --text-white: white;
    --content-max-width: 1024px;
}

html {
    background-color: var(--main-bg-color);
    color: var(--text-cream);
}

body {
    font-family: var(--main-font), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font), sans-serif;
    color: var(--text-white);
}

p {
    line-height: 1.65;
    padding-bottom: 1em;
    text-align: justify;
}

.site-wrapper {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    width: 100%;

    /* Responsive styles */
    @media (min-width: 1024px) {
        /* Tailwind lg */
        max-width: 1024px;
    }
}
