---
import BaseLayout from "../../layouts/BaseLayout.astro";
const pageTitle = "Corey Stewart Resume"
---

<BaseLayout pageTitle={pageTitle}>
    <h1 class="pt-8 pb-8 italic text-2xl text-center text-text-cream">
        Resumes
    </h1>
    <div class="flex flex-col justify-around items-center sm:flex-row sm:justify-between px-4 sm:px-0">
        <a href="../../CoreyStewartTalent.pdf" download>
            <div class="text-center">
                <h2 class="text-xl text-text-cream inline-block">
                    Technical Resume <span class="text-sm">(Coming Soon)</span>
                </h2>
                <div class="inline-block transition-transform duration-300 ease-in-out transform origin-top-center hover:scale-110 m-2">
                    <img src="../../resumeTalent.png" class="h-80 mx-auto" />
                </div>
            </div>
        </a>
        <a href="../../CoreyStewartTalent.pdf" download>
            <h2 class="text-xl text-text-cream text-center">Talent Resume</h2>
            <div class="inline-block transition-transform duration-300 ease-in-out transform origin-top-center hover:scale-110 m-2">
                <img src="../../resumeTalent.png" class="h-80 mx-auto" />
            </div>
        </a>
    </div>
</BaseLayout>

