---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Corey Stewart";
const image = "https://stew.boo/images/headshot_small.png"
const lobsters = "/images/lobsters.png";
const metaTags = [
    { property: "og:type", content: "profile" },
    { property: "profile:first_name", content: "Corey" },
    { property: "profile:last_name", content: "Stewart" },
    { property: "profile:username", content: "@decadentsavant" },
    { property: "profile:gender", content: "male" },
    {
        property: "og:description",
        content:
            "Learn more about Corey Stewart, his experiences, skills, and interests.",
    },
    { property: "og:image", content: image },
];
---

<BaseLayout pageTitle={pageTitle} metaTags={metaTags}>
    <h1 class="pt-8 pb-8 text-center text-3xl">Corey Stewart</h1>
    <img
        src={image}
        alt="Description of Image 1"
        class="w-full sm:w-2/5 sm:float-left sm:mr-4"
    />
    <div class="text-justify">
        <h3 class="font-bold py-4 sm:pt-0 sm:pb-4 text-lg">
            Professional Biography - short, <span class="italic"
                >corporatey</span
            > version
        </h3>

        <p>
            Corey Stewart was asked to join and launch the internal startup of
            Coaching in Organizations at the globally recognized International
            Coaching Federation (ICF).
        </p>

        <p>He is now it's Director of Operations.</p>

        <p>
            Internally, Corey is the driving force behind the continuity of
            day-to-day functions, ensuring that each cog in the organizational
            wheel spins without a hitch.
        </p>

        <p>
            Externally, he employs his strategic acumen by consulting for
            international enterprises of Fortune caliber, facilitating them in
            constructing, scaling, and fine-tuning their in-house coaching
            programs.
        </p>

        <p>
            Prior to his commitment to ICF, Corey spearheaded Organizational
            Development and Talent Management initiatives at GAF. His adeptness
            in these areas continues to fuel his success and enrich his
            contributions to the world of corporate coaching and talent
            management.
        </p>
        <hr class="border-t border-main-blue mx-4 mt-4 mb-12" />

        <img
            src={lobsters}
            alt="Description of Image 1"
            class="w-full sm:w-2/5 sm:float-left sm:mr-4"
        />
        <h3 class="font-bold py-4 text-lg sm:pt-0 sm:pb-4">
            Personal Biography - long, fun version
        </h3>

        <p>
            Corey emerges from the Texas sun; classic Gen X'er, nourished on a
            balanced diet of BBQ, Nirvana, and life lessons from Saved by the
            Bell. Smarty pants in class, but socialize? Nah.
        </p>

        <p>
            At 18, he's off to University of Texas - Arlington, full academic
            scholarship, zero plan. To shake off his shyness, he dives headfirst
            into door-to-door sales, frat parties, and rock climbing. Yeah,
            yeah, rock climbing. A real social butterfly.
        </p>

        <p>But it works.</p>

        <p>
            Post-college, he's interviewing for a job in logistics, but HR's
            like, "Join us!" and he's like, "Let's see where this goes!"
        </p>

        <p>
            Two years later he finds out, "You're going to
            <span class="italic font-bold">Vegas, baby</span>
            !"
        </p>

        <p>
            He's the HR Manager, opening a 500,000 sq. ft. facility, working 14
            hour days, constantly over his head. He learns, adapts, thrives.
            Starts as employee numero cinco and rounds up 100+ more.
        </p>

        <p>
            Oh, he's also a nightclub paparazzo giving Vegas' party animals
            their 15 minutes of fame. Fourteen hour days turn into 18 hour days
            and he's literally sleeping in his truck. Is he coming or going?
        </p>

        <p>
            He doesn't know either. But he does take a photo that crashes an
            ESPN server during the MLB steroid debacle. So, that was fun.
        </p>

        <p>The Lone Star yanks him back and he clocks a decade at GAF.</p>

        <p>
            He starts in the headlong depths of HR: union negotiations and
            arbitrations, testifying in federal court, taking injured employees
            to the hospital at 4am.
        </p>

        <p>
            But soon it's Talent Management & Organizational Development:
            centralizing talent management initiatives, steering company-wide
            annual capability reviews, managing software integrations, mergers &
            acquisitions.
        </p>

        <p>
            He launches more projects in the People arena than most talent
            leaders will in two lifetimes. His life is a rollercoaster of
            adrenaline - like being in a Tom Cruise flick, but with less CGI and
            more paperwork.
        </p>

        <p>
            Amidst the chaos, he's taking annual sailing trips with friends.
            They want to live on a boat someday. He wants a steady paycheck.
            Until the day he doesn't.
        </p>

        <p>
            He sells everything, moves onto a 52' ketch and spends 12 months
            adventuring across Georgia, Florida, the Bahamas, Turks & Caicos,
            and the Dominican Republic.
        </p>

        <p>
            He learns to sail a little better, spearfish, cook lobster, ride a
            motorcycle on some pretty questionable roads, and hurricane prep a
            boat...for two hurricanes.
        </p>

        <p>
            Post-sailing, Corey sprouts wings and flies around the globe for 2
            more years. Along the way he hikes 14'ers, walks across the country
            of Spain, and runs a couple half marathons - he's like an Energizer
            bunny on steroids, but has narcolepsy too.
        </p>

        <p>
            <span class="italic">PSSST...HEY!</span> If you've got a hook-up in Madeira,
            Portugal (job, home, lottery ticket), give this guy a buzz. It's his
            dream residence.
        </p>

        <p>
            The three years afford him an education you can't find in any
            classroom or corporate boardroom. He learned firsthand the
            impermanence of comfort, the importance of resourcefulness, and the
            power of perseverance.
        </p>

        <p>But alas, the travel comes to an end...</p>

        <p>
            Looks for work, March 2020. COVID says, “Oops.” He networks into the
            International Coaching Federation and is hanging around there now.
        </p>

        <p>
            Presently, you can spot him voraciously consuming software
            development, jogging with his pup, and casting lines for largemouth
            bass, splitting his time between Texas and NYC. Because hey, life is
            a buffet, why not sample everything?
        </p>
    </div>
</BaseLayout>
