---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro"
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "My Astro Learning Blog";
---
<BaseLayout pageTitle={pageTitle}>
		<h2>Stew.Boo</h2>
		<p>Welcome...to blog page.</p>
		<p>Posts</p>
		<ul>
			{allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
		</ul>
	</body>
</BaseLayout>
