---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
    <div class="flex flex-col justify-center items-center text-center">
        <div class="text-lg text-text-cream p-4">
            <p class="text-center leading-none">
                This is the personal domain of me, Corey Stewart.
            </p>
            <img src="/images/madeira.jpg" class="h-80 mx-auto object-cover" style="object-position: 95% 20%;/>
        </div>
    </div>
</BaseLayout>
