---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Welcome to Stew.Boo!";
const image = "/images/madeira.jpg"
const metaTags = [
    { property: "og:type", content: "website" },
    {
        property: "og:description",
        content:
            "Corey Stewart's personal website",
    },
    { property: "og:image", content: image},
];
---

<BaseLayout pageTitle={pageTitle} metaTags={metaTags}>
    <div class="flex flex-col justify-center items-center text-center leading-none">
        <div class="text-lg p-4 text-text-cream">
            <p class="text-lg text-center p-4 leading-none">
                This is the personal domain of me, Corey Stewart.
            </p>
            <p class="text-center leading-none">
                The Bermuda Triangle of focus.
            </p>
            <p class="text-center leading-none">
                A digital playground where the monkey bars lead nowhere specific. 
            </p>
            <img src={image} class="h-80 mx-auto object-cover" style="object-position: 95% 20%;"/>
        </div>
    </div>
</BaseLayout>