---
---

<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>

<footer>
    <p class="text-xs text-main-blue sm:h-4">© 2023 MostLearned LLC</p>
    <img
        src="../../boo_icon-180.png"
        class="fixed right-2 bottom-2 h-8 sm:h-10 rounded-full bg-transparent"
    />
</footer>
