---
---

<footer class="flex mt-2">
    <p class="text-xs text-main-blue sm:h-4">© 2023 MostLearned LLC</p>
    <div
        class="fixed right-2 bottom-2 flex flex-col items-end opacity-0 translate-y-9 transition-all ease-in-out duration-300 z-10"
        id="wrapper"
    >
        <div class="relative flex flex-col items-end">
            <div
                class="max-w-xs p-2 mr-9 bg-main-blue text-white rounded-tl-md rounded-tr-md rounded-bl-md whitespace-normal break-words"
                id="chat-bubble"
            >
                Boo!
            </div>
            <img
                src="/images/boo_icon-180.png"
                class="h-8 sm:h-10 rounded-full bg-transparent"
            />
        </div>
    </div>
</footer>

<script>
    import "../scripts/revealMascot.js";
</script>
