---
---
<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>

<footer>
    <p class="fixed text-xs bottom-1 sm:h-8">
        @ 2023 MostLearned LLC
    </p>
</footer>
