---
import Social from "./Social.astro";
---
<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>

<footer>
    <p>
        <Social platform="twitter" username="decadentsavant" />
        <Social platform="github" username="decadentsavant" />
        <Social platform="youtube" username="decadentsavant" />
    </p>
</footer>
