---
import Navigation from "./Navigation.astro";
import { Icon } from "astro-icon";
---

<header>
    <nav>
        <div class="sm:hidden" id="hamburger-icon">
            <Icon name="ci:hamburger" class="h-6" />
        </div>
        <div class="hidden sm:block text-center" id="navigation-menu">
            <Navigation />
        </div>
    </nav>
    <script>
    import "../scripts/menu.js"; 
    </script>
</header>
