---
---

<div class="flex flex-col sm:flex-row space-y-2 sm:space-y-0 sm:space-x-4">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <a href="/tags/">Tags</a>
    <a href="/resume/">Resume</a>
    <a href="/projects/">Projects</a>
</div>
