---
---

<div
    id="project-modal"
    tabindex="-1"
    aria-hidden="true"
    class={"hidden fixed inset-0 z-50 items-center justify-center p-4 overflow-x-hidden overflow-y-auto h-full max-h-full backdrop-blur-md"}
>
    <div class="relative w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative rounded-lg shadow bg-gray-700">
            <!-- Modal header -->
            <div
                class="flex items-start justify-between p-5 border-b rounded-t border-gray-600"
            >
                <h3
                    id="modal-title"
                    class="text-xl font-semibold lg:text-2xl text-white"
                >
                    <!-- dynamic update -->
                </h3>
                <button
                    type="button"
                    class="close-button text-white bg-main-purple hover:bg-main-blue hover:text-black focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                >
                    Close
                </button>
            </div>
            <!-- Modal body -->
            <div
                id="modal-body"
                class="p-6 space-y-6 max-h-[50vh] overflow-y-auto"
            >
                <!-- dynamic update -->
            </div>
            <!-- Modal footer -->
            <div
                id="modal-footer"
                class="flex flex-wrap border-t rounded p-4 gap-2 text-xs"
            >
            </div>
        </div>
    </div>
</div>
