---
---
<div class="cursor-element fixed w-2 h-2 rounded-full" style="z-index: -9999;">
    <div
        id="cursor-glow"
        class="w-96 h-96 bg-main-purple rounded-full blur-[210px] opacity-30"
    >
    </div>
</div>

<script>
import "../scripts/addCursorShadow.js"   
</script>
