---
---
<div class="cursor-element fixed w-2 h-2 rounded-full" style="z-index: -9999;">
    <div
        id="cursor-glow"
        class="w-56 h-56 bg-main-purple rounded-full blur-[180px] opacity-30"
    >
    </div>
</div>

<script>
import "../scripts/addCursorShadow.js"   
</script>
