---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Card from "../../components/Card.astro";
const pageTitle = "Co's Projects";
---

<BaseLayout pageTitle={pageTitle}>
    <h1 class="pt-8 pb-8 text-3xl text-center text-text-cream">
        Select Projects
    </h1>
    <div class="flex flex-col items-center gap-5 lg:grid lg:grid-cols-2">
        <Card
            title="I use Arch, BTW"
            desc="This site and all of the projects mentioned on this page are hosted on a custom Arch server. Email, web hosting, webhook processing capabilities, SSH, TLS/SSL..."
            img="/images/arch_penguin.png"
            alt="penguin under arch"
        />
        <Card
            title="Baseball Junkie"
            desc="Node.js application scrapes baseball statistics, writes to PostgreSQL database, crunches numbers, and sends daily email to a baseball card day trader..."
            img="/images/baseball_cards.png"
            alt="monkey with baseball cards"
        />
        <Card
            title="You've Got Mail!"
            desc="Postfix, Dovecot, Mutt, oh my! Fully functional mail server that complies with SPF, DKIM, DMARC, other other configurations that ensure maximum deliverability..."
            img="/images/elon_musk_email.png"
            alt="elon musk checking email"
        />
        <Card
            title="Boo! (this site)"
            desc="Astro, Tailwind CSS, and keyboard grease come together to deliver this snappy, responsive site through a custom built continuous deployment pipeline..."
            img="/images/boo_icon.png"
            alt="logo of ghost for stew.boo"
        />
    </div>
</BaseLayout>
