---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <div class="site-wrapper">
      <Header />
      <h1 class="text-4xl font-bold">
        <span
          style="background: linear-gradient(to right, rgb(89, 203, 230), rgb(90, 118, 186)); -webkit-background-clip: text; color: transparent;"
        >
          {pageTitle}
        </span>
      </h1>
      <slot />
      <Footer />
    </div>
  </body>
</html>
